<p class="startgame center">Start Game</p>
<br>


<form method="post" action="/board/playerstart" class='center'>
  <label> Click this button to go first.
    <button class='center' type="submit">Player Starts</button>
  </label>
</form>
<br>

<form method="post" action="/board/computerstart" class="center">
  <label> Click this button to let the computer start the game.
    <button class='center' type="submit">Computer Starts</button>
  </label>
</form>

<br>
<br>

<p class="center"><a href ='/game_history'>View Game History</a></p>
<br>



<!--# => "<form method="post" action="/controller/new" class="button_to">-->
<!--#      <div><input value="New" type="submit" /></div>-->
<!--#    </form>"-->