<form method="post" action="/signin" class='center'>
  <div>
  <label for "username">Username<input name="username" /></label>
  </div>
  <div>
  <label for "password">Password<input name="password" /></input></label>
  </div>
  <button type="submit">Sign In</button>
</form>

<p class='center'> Don't have an account? <a href="/users/signup"> Create Account</a></p>
